<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Christmas Jumper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen">
</head>
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

</html>

<body>
	<div class="adventContainer container">
		<div class="landingContainer container " id="landingDiv">
			<button class="action-button" data-start="">Design</button>
			<svg class="jumper home" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180"
				style="enable-background:new 0 0 180 180;" xml:space="preserve">
				<g>
					<path class="jumperLight" d="M142.4,12.7l-11.7-7l-7.2,10.6c-16.1,23.5-50.9,23.5-67,0L49.3,5.7l0,0l-11.7,7c-12.4,7.5-20.9,20-23.2,34.3
		L0.1,138c-0.4,2.9,1.8,5.4,4.6,5.4h18.7c2.3,0,4.3-1.7,4.6-4l11.9-74.3v103.2l1.3,0.3c32.1,8,65.6,8,97.7,0l1.3-0.3V65.2l11.9,74.3
		c0.4,2.3,2.3,4,4.6,4h18.7c2.9,0,5.1-2.6,4.6-5.4l-14.4-91C163.3,32.8,154.8,20.2,142.4,12.7" />
					<g>
						<path class="jumperDark" d="M41.2,150.1l-1.3-0.3v18.7l1.3,0.3c32.1,8,65.6,8,97.7,0l1.3-0.3v-18.7l-1.3,0.3
			C106.8,158,73.2,158,41.2,150.1" />
						<path class="jumperDark"
							d="M1.7,127.8L0.1,138c-0.4,2.8,1.8,5.4,4.6,5.4h18.7c2.3,0,4.3-1.7,4.6-4l1.9-11.7H1.7z" />
						<path class="jumperDark"
							d="M178.3,127.8l1.6,10.2c0.4,2.8-1.8,5.4-4.6,5.4h-18.7c-2.3,0-4.3-1.7-4.6-4l-1.9-11.7H178.3z" />
						<path class="Background"
							d="M49.3,5.7l12.5,3.1c18.7,4.3,38.1,4.3,56.8,0l12.1-3.1l-7.2,10.6c-16.1,23.5-50.9,23.5-67,0L49.3,5.7z" />
					</g>
					<g>
						<path class="jumperLight" d="M165.2,128.6l1.6,6.4c0.4,1.4,1.6,2.4,3,2.4c0.2,0,0.5,0,0.8-0.1c1.7-0.4,2.7-2.1,2.3-3.8l-1.4-5.6h-6.3
			C165.2,128.1,165.2,128.3,165.2,128.6" />
						<path class="jumperLight" d="M155.8,128.6l1.6,6.4c0.4,1.4,1.6,2.4,3,2.4c0.2,0,0.5,0,0.8-0.1c1.7-0.4,2.7-2.1,2.3-3.8l-1.4-5.6h-6.3
			C155.8,128.1,155.8,128.3,155.8,128.6" />
						<path class="jumperLight" d="M24.2,127.8h-6.3l-1.4,5.6c-0.4,1.7,0.6,3.4,2.3,3.8c0.3,0.1,0.5,0.1,0.8,0.1c1.4,0,2.7-1,3-2.4l1.6-6.4
			C24.2,128.3,24.2,128.1,24.2,127.8" />
						<path class="jumperLight" d="M8.5,127.8l-1.4,5.6c-0.4,1.7,0.6,3.4,2.3,3.8c0.3,0.1,0.5,0.1,0.8,0.1c1.4,0,2.7-1,3-2.4l1.6-6.4
			c0.1-0.3,0-0.5,0-0.7L8.5,127.8L8.5,127.8z" />
						<path class="jumperLight" d="M124.4,159.2c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1v-6.6c0-0.2-0.1-0.4-0.1-0.6
			c-2,0.4-4.1,0.8-6.1,1.1L124.4,159.2L124.4,159.2z" />
						<path class="jumperLight" d="M111.9,162.3c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1v-7.8c0-0.2-0.1-0.3-0.1-0.5
			c-2.1,0.3-4.1,0.5-6.2,0.8L111.9,162.3L111.9,162.3z" />
						<path class="jumperLight" d="M99.4,165.4c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1v-9.7c0-0.1-0.1-0.2-0.1-0.3
			c-2.1,0.2-4.1,0.3-6.2,0.4L99.4,165.4L99.4,165.4z" />
						<path class="jumperLight" d="M86.9,156C86.9,156,86.9,156,86.9,156l0,9.4c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1V156c0,0,0,0,0,0
			C91,156,89,156,86.9,156" />
						<path class="jumperLight" d="M77.5,168.6c1.7,0,3.1-1.4,3.1-3.1v-9.6c-2.1-0.1-4.1-0.2-6.2-0.4c0,0.1-0.1,0.2-0.1,0.3v9.7
			C74.3,167.2,75.7,168.6,77.5,168.6" />
						<path class="jumperLight" d="M65,165.4c1.7,0,3.1-1.4,3.1-3.1v-7.5c-2.1-0.2-4.1-0.5-6.2-0.8c0,0.2-0.1,0.3-0.1,0.5v7.8
			C61.8,164,63.2,165.4,65,165.4" />
						<path class="jumperLight" d="M52.4,162.3c1.7,0,3.1-1.4,3.1-3.1v-6.1c-2-0.4-4.1-0.7-6.1-1.1c0,0.2-0.1,0.4-0.1,0.6v6.6
			C49.3,160.9,50.7,162.3,52.4,162.3" />
					</g>
				</g>
			</svg>
			<div class="jumperContainer home">

				<span style="color: rgb(255, 255, 255); top: 0px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 18px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 24px; left: 6px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 36px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 42px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 48px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 60px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 66px; left: 6px;">V</span>
				<span style="color: rgb(225, 225, 225); top: 72px; left: 6px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 84px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 90px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 6px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 18px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 24px; left: 12px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 12px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 42px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 48px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 60px; left: 12px;">V</span>
				<span style="color: rgb(254, 254, 254); top: 66px; left: 12px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 12px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 84px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 90px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 12px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 18px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 24px; left: 18px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 18px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 18px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 18px;">V</span>
				<span style="color: rgb(210, 210, 210); top: 48px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 18px;">V</span>
				<span style="color: rgb(222, 222, 222); top: 60px; left: 18px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 18px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 18px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 18px;">V</span>
				<span style="color: rgb(253, 253, 253); top: 84px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 90px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 18px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 24px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 24px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 24px;">V</span>
				<span style="color: rgb(254, 254, 254); top: 18px; left: 24px;">V</span>
				<span style="color: rgb(254, 254, 254); top: 24px; left: 24px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 24px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 24px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 24px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 24px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 24px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 24px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 24px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 24px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 24px;">V</span>
				<span style="color: rgb(251, 251, 251); top: 84px; left: 24px;">V</span>
				<span style="color: rgb(253, 253, 253); top: 90px; left: 24px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 24px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 24px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 24px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 6px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 12px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 18px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 24px; left: 30px;">V</span>
				<span style="color: rgb(254, 254, 254); top: 30px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 30px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 30px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 78px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 84px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 90px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 96px; left: 30px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 102px; left: 30px;">V</span>
				<span style="color: rgb(250, 250, 250); top: 108px; left: 30px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 36px;">V</span>
				<span style="color: rgb(249, 249, 249); top: 6px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 12px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 18px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 24px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 36px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 36px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 36px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 36px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 72px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 84px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 90px; left: 36px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 96px; left: 36px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 36px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 36px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 42px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 42px;">V</span>
				<span style="color: rgb(212, 212, 212); top: 12px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 18px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 24px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 42px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 42px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 42px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 42px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 66px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 84px; left: 42px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 90px; left: 42px;">V</span>
				<span style="color: rgb(250, 250, 250); top: 96px; left: 42px;">V</span>
				<span style="color: rgb(254, 254, 254); top: 102px; left: 42px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 42px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 48px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 48px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 18px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 24px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 48px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 48px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 54px; left: 48px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 60px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 48px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 84px; left: 48px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 90px; left: 48px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 48px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 48px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 48px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 18px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 24px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 30px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 36px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 42px; left: 54px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 54px;">V</span>
				<span style="color: rgb(254, 254, 254); top: 54px; left: 54px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 66px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 72px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 78px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 84px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 90px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 54px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 60px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 60px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 18px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 24px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 60px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 48px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 54px; left: 60px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 60px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 60px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 84px; left: 60px;">V</span>
				<span style="color: rgb(225, 225, 225); top: 90px; left: 60px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 60px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 60px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 60px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 66px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 66px;">V</span>
				<span style="color: rgb(205, 205, 205); top: 12px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 18px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 24px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 66px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 42px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 66px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 66px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 66px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 84px; left: 66px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 90px; left: 66px;">V</span>
				<span style="color: rgb(238, 238, 238); top: 96px; left: 66px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 66px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 66px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 72px;">V</span>
				<span style="color: rgb(251, 251, 251); top: 6px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 12px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 18px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 24px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 72px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 36px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 72px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 72px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 72px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 84px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 90px; left: 72px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 96px; left: 72px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 72px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 72px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 6px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 12px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 18px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 24px; left: 78px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 30px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 78px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 78px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 78px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 84px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 90px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 96px; left: 78px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 102px; left: 78px;">V</span>
				<span style="color: rgb(254, 254, 254); top: 108px; left: 78px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 18px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 24px; left: 84px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 84px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 84px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 84px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 84px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 84px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 84px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 84px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 84px;">V</span>
				<span style="color: rgb(254, 254, 254); top: 84px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 90px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 84px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 18px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 24px; left: 90px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 90px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 90px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 42px; left: 90px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 48px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 90px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 60px; left: 90px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 66px; left: 90px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 90px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 90px;">V</span>
				<span style="color: rgb(253, 253, 253); top: 84px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 90px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 90px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 18px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 24px; left: 96px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 96px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 36px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 42px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 48px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 60px; left: 96px;">V</span>
				<span style="color: rgb(200, 200, 200); top: 66px; left: 96px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 72px; left: 96px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 84px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 90px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 96px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 0px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 6px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 12px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 18px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 24px; left: 102px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 30px; left: 102px;">V</span>
				<span style="color: rgb(233, 233, 233); top: 36px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 42px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 48px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 54px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 60px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 66px; left: 102px;">V</span>
				<span style="color: rgb(227, 227, 227); top: 72px; left: 102px;">V</span>
				<span style="color: rgb(234, 70, 48); top: 78px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 84px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 90px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 96px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 102px; left: 102px;">V</span>
				<span style="color: rgb(255, 255, 255); top: 108px; left: 102px;">V</span>
</div>
				</div> <div id="makeContainer" class="makeContainer hidden container">
					<div class="canvasContainer" id="canvasDiv"></div>
					<div class="toolsContainer bottom">
						<button class="color active" data-color="#2E4C9D"></button>
						<button class="color" data-color="#EA4630"></button>
						<button class="color" data-color="#7F9539"></button>
						<button class="color" data-color="#0AAE9F"></button>
						<button class="color" data-color="#F8B229"></button>
						<button class="action-button" data-knit="true">Knit it!</button>
						<button class="restart" data-frog="true"></button>
					</div>
					<div class="toolsContainer contrast">
						<span class="label">Ribbing: </span>
						<button class="color small active" data-background="#7F9539"></button>
						<button class="color small" data-background="#EA4630"></button>
						<button class="color small" data-background="#777BA6"></button>
						<button class="color small" data-background="#2E4C9D"></button>

					</div>
			</div>
			<div class="madeContainer container hidden" id="madeContainer">

				<div class="jumperContainer" id="jumperContainer"></div>
				<svg class="jumper" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180"
					style="enable-background:new 0 0 180 180;" xml:space="preserve">
					<g>
						<path class="jumperLight" d="M142.4,12.7l-11.7-7l-7.2,10.6c-16.1,23.5-50.9,23.5-67,0L49.3,5.7l0,0l-11.7,7c-12.4,7.5-20.9,20-23.2,34.3
		L0.1,138c-0.4,2.9,1.8,5.4,4.6,5.4h18.7c2.3,0,4.3-1.7,4.6-4l11.9-74.3v103.2l1.3,0.3c32.1,8,65.6,8,97.7,0l1.3-0.3V65.2l11.9,74.3
		c0.4,2.3,2.3,4,4.6,4h18.7c2.9,0,5.1-2.6,4.6-5.4l-14.4-91C163.3,32.8,154.8,20.2,142.4,12.7" />
						<g>
							<path class="jumperDark" d="M41.2,150.1l-1.3-0.3v18.7l1.3,0.3c32.1,8,65.6,8,97.7,0l1.3-0.3v-18.7l-1.3,0.3
			C106.8,158,73.2,158,41.2,150.1" />
							<path class="jumperDark"
								d="M1.7,127.8L0.1,138c-0.4,2.8,1.8,5.4,4.6,5.4h18.7c2.3,0,4.3-1.7,4.6-4l1.9-11.7H1.7z" />
							<path class="jumperDark"
								d="M178.3,127.8l1.6,10.2c0.4,2.8-1.8,5.4-4.6,5.4h-18.7c-2.3,0-4.3-1.7-4.6-4l-1.9-11.7H178.3z" />
							<path class="Background"
								d="M49.3,5.7l12.5,3.1c18.7,4.3,38.1,4.3,56.8,0l12.1-3.1l-7.2,10.6c-16.1,23.5-50.9,23.5-67,0L49.3,5.7z" />
						</g>
						<g>
							<path class="jumperLight" d="M165.2,128.6l1.6,6.4c0.4,1.4,1.6,2.4,3,2.4c0.2,0,0.5,0,0.8-0.1c1.7-0.4,2.7-2.1,2.3-3.8l-1.4-5.6h-6.3
			C165.2,128.1,165.2,128.3,165.2,128.6" />
							<path class="jumperLight" d="M155.8,128.6l1.6,6.4c0.4,1.4,1.6,2.4,3,2.4c0.2,0,0.5,0,0.8-0.1c1.7-0.4,2.7-2.1,2.3-3.8l-1.4-5.6h-6.3
			C155.8,128.1,155.8,128.3,155.8,128.6" />
							<path class="jumperLight" d="M24.2,127.8h-6.3l-1.4,5.6c-0.4,1.7,0.6,3.4,2.3,3.8c0.3,0.1,0.5,0.1,0.8,0.1c1.4,0,2.7-1,3-2.4l1.6-6.4
			C24.2,128.3,24.2,128.1,24.2,127.8" />
							<path class="jumperLight" d="M8.5,127.8l-1.4,5.6c-0.4,1.7,0.6,3.4,2.3,3.8c0.3,0.1,0.5,0.1,0.8,0.1c1.4,0,2.7-1,3-2.4l1.6-6.4
			c0.1-0.3,0-0.5,0-0.7L8.5,127.8L8.5,127.8z" />
							<path class="jumperLight" d="M124.4,159.2c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1v-6.6c0-0.2-0.1-0.4-0.1-0.6
			c-2,0.4-4.1,0.8-6.1,1.1L124.4,159.2L124.4,159.2z" />
							<path class="jumperLight" d="M111.9,162.3c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1v-7.8c0-0.2-0.1-0.3-0.1-0.5
			c-2.1,0.3-4.1,0.5-6.2,0.8L111.9,162.3L111.9,162.3z" />
							<path class="jumperLight" d="M99.4,165.4c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1v-9.7c0-0.1-0.1-0.2-0.1-0.3
			c-2.1,0.2-4.1,0.3-6.2,0.4L99.4,165.4L99.4,165.4z" />
							<path class="jumperLight" d="M86.9,156C86.9,156,86.9,156,86.9,156l0,9.4c0,1.7,1.4,3.1,3.1,3.1c1.7,0,3.1-1.4,3.1-3.1V156c0,0,0,0,0,0
			C91,156,89,156,86.9,156" />
							<path class="jumperLight" d="M77.5,168.6c1.7,0,3.1-1.4,3.1-3.1v-9.6c-2.1-0.1-4.1-0.2-6.2-0.4c0,0.1-0.1,0.2-0.1,0.3v9.7
			C74.3,167.2,75.7,168.6,77.5,168.6" />
							<path class="jumperLight" d="M65,165.4c1.7,0,3.1-1.4,3.1-3.1v-7.5c-2.1-0.2-4.1-0.5-6.2-0.8c0,0.2-0.1,0.3-0.1,0.5v7.8
			C61.8,164,63.2,165.4,65,165.4" />
							<path class="jumperLight" d="M52.4,162.3c1.7,0,3.1-1.4,3.1-3.1v-6.1c-2-0.4-4.1-0.7-6.1-1.1c0,0.2-0.1,0.4-0.1,0.6v6.6
			C49.3,160.9,50.7,162.3,52.4,162.3" />
						</g>
					</g>
				</svg>
				<button class="restart final" data-restart="true"></button>
			</div>
		</div>


		<script src="js/main.js"></script>
</body>

</html>
